<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-4">
            <div class="form-control" class="thumbnail">
                <img src="assets/img/mario.jpg" alt="" width="40%">
                <p>$60.00</p>
                <a href="not-found">Mas informacion</a>
            </div>
        </div>
        <div class="col-4">
            <div class="form-control" class="thumbnail">
                <img src="assets/img/luigi.jpg" alt="" width="40%">
                <p>$60.00</p>
                <a href="not-found">Mas informacion</a>
            </div>
        </div>
        <div class="col-4">
            <div class="form-control" class="thumbnail">
                <img src="assets/img/odyssey.jpg" alt="" width="40%">
                <p>$60.00</p>
                <a href="not-found">Mas informacion</a>
            </div>
        </div>
        <div class="col-4">
            <div class="form-control" class="thumbnail">
                <img src="assets/img/super.jpg" alt="" width="40%">
                <p>$60.00</p>
                <a href="not-found">Mas informacion</a>
            </div>
        </div>

    </div>

</div>