<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-4">
            <div class="form-control" class="thumbnail">
                <img src="assets/img/consola.jpg" alt="" width="50%">
                <p>$399.00</p>
                <a href="not-found">Mas informacion</a>
            </div>
        </div>
        <div class="col-4">
            <div class="form-control" class="thumbnail">
                <img src="assets/img/lite.jpg" alt="" width="50%">
                <p>$60.00</p>
                <a href="not-found">Mas informacion</a>
            </div>
        </div>
        <div class="col-4">
            <div class="form-control" class="thumbnail">
                <img src="assets/img/volante1.jpg" alt="" width="50%">
                <p>$60.00</p>
                <a href="not-found">Mas informacion</a>
            </div>
        </div>
        <div class="col-4">
            <div class="form-control" class="thumbnail">
                <img src="assets/img/mando.png" alt="" width="50%">
                <p>$60.00</p>
                <a href="not-found">Mas informacion</a>
            </div>
        </div>

    </div>

</div>