<section class="float-none">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-4">
                <div class="form-control">
                    <h3>Login</h3>
                    <div class="mb-3">
                        <label form="email" class="form-label">Email</label>
                        <input type="text" class="form-control" placeholder="Ingrese Email">
                    </div>
                    <div class="mb-3">
                        <label for="form-group" class="form-label">Password</label>
                        <input type="password" class="form-control" placeholder="Ingrese Password">
                    </div>
                    <div class="mb-3">
                        <a href="producto" class="btn btn-primary" id="">Iniciar sesion</a><br>
                        <p>No tienes una cuenta? <a href="registro">Registrate</a>.</p>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>